@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body{
    font-family: 'Inter', sans-serif;
}

.navbar-dark{
    background-color: black;
    z-index: 100;
}
.nav-item{
    padding: 0 8px;
    color: whitesmoke;
}
.navbar-text ul{
    display: flex;
}
.navbar-text ul{
    list-style: none;
}
.hero .owl-carousel{
    margin: 0 auto;
    background-repeat: no-repeat;
    /* height: 100%; */
    background-size: cover;
    /* position: absolute; */
    left: 60px;
    top: -20px;
    /* z-index: -1; */
    width: 100%;
    border-radius: 25px;
    /* transform:translateX(-10%); */
    max-width: 100%;
}

.owl-carousel .img{
    position: relative;
    border-radius: 50px;
    object-fit: cover;
}
.carosoul-content{
    z-index: 99;
    position: absolute;
    margin-top: 90px;
    margin-left: 80px;
}
.carosoul-content h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    color:#FFFFFF;
}
.carosoul-content p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */
margin-top: 20px;
color: #FFFFFF;
}
.carosoul-content button{
    margin-top: 8px;
}


.hero .container{
    position: relative;
}
/* Social Icons */
.social_icons{
    position: absolute;
    z-index: 100;

}
.social_icons{
    list-style: none;
    right: -45px;
    top: 140px;
    text-align: center;
    position: absolute;
}
.social_icons ul{
    list-style:none;
}
.social_icons ul li{

    padding-top: 40px;
}




/* Owl carousel dots */

.owl-theme .owl-dots {
    position: absolute;
    bottom: 190px;
    left: -82px;
    display: grid;
    /* width: 100%; */
}



.owl-theme .owl-dots .owl-dot span {



    width: 16px;
    left: 112px;
    top: 444px;
    height: 16px;

/* Main Red */

    opacity: 0.4;
    background: #D82930;
    border-radius: 8px;

}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    width: 16px;
    height: 32px;
    left: 112px;
    top: 400px;
    
    /* Main Red */
    
    background: #D82930;
    border-radius: 8px;
    opacity: 0.8;
}

.TopFooterSection{
    background:white;
    box-shadow: 0px 3px 4px rgba(153,155,168,0.15);
    border-radius: 8px;
    position: absolute;
    max-width: 1050px;
    height: 80px;
    width:100%;
    margin: 0 auto;
    left: 55%;
    bottom: 4px;
    z-index: 100;
    transform: translateX(-50%);
    

}
.TopFooterSection .col-md-4 .form-select {
    background-color: white;
    color: black;
}

.TopFooterSection button{
    border: none !important;
    font-size: 13px;
    font-style: bold;
    padding: 8px 10px;
    
}
.tabs{
    display: flex;
    padding: 10px;
}
hr{
    width: 50%;
    height: 20px;
}
.tabs p{
    padding-right: 30px;
    padding-left: 20px;
}
.tabs p a{
    text-decoration: none;
    color: black;
}
.tabs p:hover{
    border-bottom: 2px solid red;
}
.carImage{
    padding: 10px;
    text-align: center;
}
.carImage img{
    padding: 10px 5px;
}
.carImage img:hover{
    color: red;
}
.car_price{
    margin-top: 200px;
    
}
.carPriceHeader a{
    text-decoration: none;
    color:#D82930;
}
.carPriceLink{
    text-align: right;
    margin-bottom: 25px;
}
.card-body button{
    border: 1px solid black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    /* Main black */
    
    color: #0E0E0E;
    box-shadow: 1px 1px 1px black;
    border: 1px solid #5D5D5F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
    margin-left: 30px;
}
.card-body .card-text{
    margin-top: 30px;
}
.card-body button:hover{
    border: none;
    color: white;
    background: #D82930;
    box-shadow: none;
    text-align: center;
}
.card_button{
    text-align: center;
}




.Car_Showroom{
    margin-top: 200px;
    
}
.showroom_Heading{
    text-align: center;
    margin-bottom: 20px;
}
.Car_Showroom img{
    width: 100px;
    padding: 10px;

}
.shoroom_button button{
    width: 268px;
height: 60px;
left: 826px;
top: 2601px;

/* Main Red */

background: #D82930;
border-radius: 5px;
}
.car-features{
    font-size: 12px;
    padding-bottom: 20px;
}
.car-features img{
    width: 30%;
}
.car-features .col-md-4{
    padding-bottom: 15px;
}
.red-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    
    color: #D82930;
}





.power-Converter{
    /* text-align: center; */
    margin-top: 100px;
}

.power-Converter .container{
    /* position: absolute; */
    width: 100%;
    width: 1320px;
    height: 583px;
    left: 300px;
    top: 3409px;

    background: #0E0E0E;
    border-radius: 15px;
}
.power-Converter h1{
    margin: 60px 0 20px 40px;
    text-align:left;
    font-size: 45px;
    color: white;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 54px;
}
.calculator h1{
    margin-bottom: 20px;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */


/* Main Red */

color: #D82930;

}
.calculator{
    border: 2px solid #D82930;
border-radius: 8px;
position: relative;
margin-left: 30px;
margin-top: 10px;
}
.input-group{
    width: 430px;
    height: 50px;
    margin-left: 40px;

/* Main black */

background: #0E0E0E;
border: 1px solid #F5E9E9;
border-radius: 5px;
}
.input_to_calculator{
    text-align: center;
}
.form-select{
    background-color: #0E0E0E;
    color: white;
}
.input-group-text{
    background-color: #0E0E0E;
    color:#FFFFFF
}
.calculated_result{
    color: white;
    
}
.calculated_result .left{
    text-align: left;
    padding-left: 50px;
}
.calculated_result .right{
    text-align: right;
    padding-right: 55px;
}

.image_banner{
    position: relative;
    width: 540px;
    margin-top: 100px;
}
.image_banner img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    /* vertical-align: middle; */
}
.carPriceHeader{
    margin-top: 10rem;
}
.carPriceLink{
    margin-top: 3rem;
}
.right_align{
    text-align: right;
}
/* .news_event_date{
    font-size: 13px;
} */

/* .news_event_date p{
    display: flex;
} */
.card{
    border-radius: 20px;
}
.news_button{
    text-align:center;
}
.collapse_button{
    text-align: center;
}

.newsBack{
    position: absolute;
width: 1320px;
height: 350px;
/* left: 300px; */
top: 4783px;

background: #FFFFFF;
box-shadow: 0px 4px 75px rgba(14, 14, 14, 0.12);
border-radius: 15px;
}
.marcendez_car{
    width: 501.8px;
    height: 270px;
}
.newsletter_signUp{
    text-align: center;
}
.newsletter_signUp button{
    margin-left: 30px;
}
.newsletter_signUp h1{
    margin-top: 9rem;
}
.newsletter_signUp input{
    padding: 10px 70px 10px 20px;
    width: 330px;
height: 50px;
left: 360px;
top: 4918px;

background: #FEFEFE;
opacity: 0.6;
/* Main gray */

border: 1px solid #5D5D5F;
border-radius: 5px;
}
.newsletter_signUp .input_email{
    margin-top: 30px;
}
.input_email button{
    width: 150px;
height: 50px;
left: 705px;
top: 4918px;

/* Main Red */
border: none;
background: #D82930;
border-radius: 5px;
color: white;
}


.newsletter{

}
/* Footer section start */



